In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('output.txt', sep='\t', names=['translation', 'WER'])
df.head()

                                         translation    WER
0                       кто не работает, тот не ест.   0.00
1                                он *працуе в банке.  25.00
2                     я *чытаў этот роман весь день.  16.67
3                           яна продолжила работать.  66.67
4  мой отец часто *апавядаў зам о свои школьные *...  55.56

In [13]:
X = df['translation']
y = df['WER'].apply(float)

In [65]:
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy import sparse

word_vect = TfidfVectorizer(analyzer='word', ngram_range=(1, 5))
char_vect = TfidfVectorizer(analyzer='char', ngram_range=(2, 6))

X_vect_word = word_vect.fit_transform(X)
X_vect_char = char_vect.fit_transform(X)

X_vect = sparse.hstack((X_vect_word, X_vect_char))
X_vect.shape

(1667, 109392)

In [66]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_vect, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.metrics import mean_squared_error as mse
from math import sqrt
from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor(solver='adam', max_iter=200, random_state=42, verbose=True)

mlp.fit(X_train, y_train)

Iteration 1, loss = 1059.29939423
Iteration 2, loss = 1041.22631075
Iteration 3, loss = 1020.08878670
Iteration 4, loss = 996.35815669
Iteration 5, loss = 970.24543272
Iteration 6, loss = 941.23246934
Iteration 7, loss = 909.65314684
Iteration 8, loss = 875.77321320
Iteration 9, loss = 839.43061267
Iteration 10, loss = 802.10482801
Iteration 11, loss = 763.17633007
Iteration 12, loss = 723.16459118
Iteration 13, loss = 683.35653943
Iteration 14, loss = 643.37381510
Iteration 15, loss = 605.05005349
Iteration 16, loss = 567.81104544
Iteration 17, loss = 531.25363444
Iteration 18, loss = 497.00795431
Iteration 19, loss = 465.20632514
Iteration 20, loss = 435.34506969
Iteration 21, loss = 407.27167971
Iteration 22, loss = 381.13535202
Iteration 23, loss = 356.95742342
Iteration 24, loss = 335.00841724
Iteration 25, loss = 314.17447714
Iteration 26, loss = 294.36209892
Iteration 27, loss = 275.02078291
Iteration 28, loss = 256.87475678
Iteration 29, loss = 239.27918215
Iteration 30, loss = 222.81637031
Iteration 31, loss = 207.43053808
Iteration 32, loss = 192.57499447
Iteration 33, loss = 179.48462459
Iteration 34, loss = 166.63040716
Iteration 35, loss = 155.11365987
Iteration 36, loss = 144.04890684
Iteration 37, loss = 134.32790869
Iteration 38, loss = 124.75149327
Iteration 39, loss = 116.49280172
Iteration 40, loss = 108.30407716
Iteration 41, loss = 101.08020636
Iteration 42, loss = 94.23409459
Iteration 43, loss = 87.98006217
Iteration 44, loss = 82.07492742
Iteration 45, loss = 76.82600147
Iteration 46, loss = 71.67739040
Iteration 47, loss = 67.28459178
Iteration 48, loss = 63.02446763
Iteration 49, loss = 58.88141541
Iteration 50, loss = 55.47485968
Iteration 51, loss = 52.07869232
Iteration 52, loss = 48.96723076
Iteration 53, loss = 46.04018882
Iteration 54, loss = 43.29970933
Iteration 55, loss = 40.90080377
Iteration 56, loss = 38.57090418
Iteration 57, loss = 36.42531888
Iteration 58, loss = 34.45842153
Iteration 59, loss = 32.58833217
Iteration 60, loss = 30.69192490
Iteration 61, loss = 29.18637903
Iteration 62, loss = 27.53464481
Iteration 63, loss = 26.16963657
Iteration 64, loss = 24.82886657
Iteration 65, loss = 23.56820125
Iteration 66, loss = 22.41811712
Iteration 67, loss = 21.29385993
Iteration 68, loss = 20.25309855
Iteration 69, loss = 19.30487148
Iteration 70, loss = 18.44213329
Iteration 71, loss = 17.60241201
Iteration 72, loss = 16.76717240
Iteration 73, loss = 16.05405997
Iteration 74, loss = 15.36682370

In [63]:
y_pred = mlp.predict(X_test)

score = sqrt(mse(y_test, y_pred))
print(score)

23.599058727916447

In [64]:
print(y_test[:5])
print(y_pred[:5])

940     20.00
987     20.00
405      0.00
721     66.67
1612    25.00
Name: WER, dtype: float64
[ 29.46628404  25.03106322  21.36611111  58.37441193  11.55677338]